label.biblink {
  color: #003c79;
}
label.biblink:hover {
  text-decoration: underline;
}
details summary {
  cursor: pointer;
}
details.bibtex {
    display:inline-block
}
details.abstract {
    display:inline-block
}
details.bibtex[open] {
    display:block
}
details.abstract[open] {
    display:block
}
details > summary {
  cursor: pointer;
  color: #003c79;
}
details > summary:hover {
  text-decoration: underline;
}
pre.bibtex, p.abstract {
    background-color: #eef;
    margin: 0 10px 0 10px;
    padding: 10px;
}

.img {
	max-width: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}
